@import 'veriables';
@import 'tablet';
@import 'reset';
@import 'placeholder';
@import 'mixin';
@import 'mobile';
@import 'media-queries';
@import 'desktop';
@import 'animations';


body{
    background-color: black;
}

header {
    width: 100%;
    height: 85px;
    background-color: black;
    display: flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    top: 0;

    #img {
        width: 150px;
        height: 85px;
        background-image: url(./../../images/GAMESQUARE.png);
        background-position: center;
        background-size: cover;
        border: 10px;
        // transform: translate(550px, 0px);
    }
    i {
        color: white ;
        font-size: 25px;
        // transform: translate(-550px);
    } 

    input{
        width: 180px;
        height: 25px;
        border: none;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-color: rgb(233, 231, 231);


    }
    button{
        height: 27px;
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgb(233, 231, 231);

        i{
            color: black;
        }

    }

    // #mic,#not {
    //     width: 50px;
    //     height: 50px;
    //     background-color: rgba(185, 193, 190, 0.613);
    //     border-radius: 100%;
    //     box-sizing: border-box;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     i {
    //         color: rgb(248, 239, 239);
    //     }
    // }
}

#search::placeholder {
    color: black;
    font-weight: 100;
    font-style: oblique;
    font-family: serif;
    transform: translate(10px);
}

#search {
    display: flex;
    transform: translate(200px);

    button{
        transform: translate(200px);
    }
}


nav{
    display: flex;
    gap: 35px;
    align-items: center;
    transform: translate(200px);

    a{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgba(255, 255, 255, 0.921);
    text-decoration: none;
    cursor: pointer;
    }

    #active{
        color: rgba(27, 211, 202, 0.795);
        text-decoration: underline;
        text-underline-offset: 5px;
        transition: 1.5s;


    }
    #active:hover{
    color: rgb(27, 211, 202);
    scale: 1.05;
    transition: 1.5s;
    }

    .non-active{
    transition: 1.5s;
    }
    .non-active:hover{
        color: white;
        scale: 1.05;
        transition: 1.5s;
    }
}


// .promo-banner {
//   width: 100%;
//   height: 600px;
//   overflow: hidden;
//   background-color: #1e0033; // your dark purple theme
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-image: url(./../images/sales.png);
//   background-position: center top;
//   background-size: contain;
//   background-repeat: no-repeat;
// //   padding-top: 85px;



// //   img {
// //     width: 100%;
// //     height: auto;
// //     object-fit: contain;
// //     animation: fadeIn 1s ease-in-out;
// //   }
// }

// // Animation keyframes
// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: scale(1.02);
//   }
//   to {
//     opacity: 1;
//     transform: scale(1);
//   }
// }

// .main_carusel > div {
//     width: 200px;
//     height: 200px;
//     background-color: #9744d3;

// }



.had-to-do{
    margin-top: 100px;
margin-left: 25px;
display: flex;


#head-text{
    h1{
        font-size: 25px;
        font-weight: 600;
        color: white;
    }

        h2{
        font-size: 20px;
        font-weight: 400;
        color: white;
    }
}
}

#main-div{
    display: flex;
    gap: 10px;
}

#view{
    display: flex;
    width: 50%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 40px;
    border-radius: 10px;
    gap: 15px;

    background-color: rgb(17, 17, 17);

    #div1{
        display: flex;
    }

    p{
        color: white;
        font-size: larger;
        font-weight: 200;
    }

    select{
        width: 50px;
        border-radius: 7px;
        margin-left: 10px;
    }


    #div2{
        display: flex;
        gap: 10px;

        button{
            width: 150px;
            height: auto;
            border-radius: 30px;
        }

        #viewing{
            background-color: rgb(18, 126, 249);
            color: black;
            font-weight: 500;
            transition: 1s;

        }
        #not-viewing{
            background-color: rgb(40, 41, 43);
            color: rgb(255, 255, 255);
            font-weight: 500;
            transition: 1s;

        }

        #viewing:hover{
            scale: 1.005;
            background-color: rgb(51, 144, 250);
            transition: 1s;

        }

        #not-viewing:hover{
            scale: 1.005;
            background-color: rgb(255, 255, 255);
            color: black;
            transition: 1s;
        }
    }
}

.big-div{
    background-color: rgb(17, 17, 17);
    color: white;
    width: 50%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 50px;
    gap: 15px;

    .search{
        width: 150px;
        background-color: rgb(63, 63, 63);
        
    }

        .search::placeholder{
            color: white;        
    }
    i {
        color: white ;
        font-size: 15px;
        // transform: translate(-550px);
    } 
        button{
        height: 20px;
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgb(63, 63, 63);
        }
}

.mid-div{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 25px;
    margin-top: 75px;

    .back{
        width: 50%;
        background-image: url(./../../images/commu1.PNG);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hand{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color:  rgb(31, 49, 75);

        .divs1{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: rgb(228, 228, 228);
        }

        .divs2{
            display: flex;

            #like{
                width: 40px;
                height: 40px;
                border-radius: 10px;
            }

            .divs2-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    color: white;
                    font-size: larger;
                    font-weight: 500;
                }

                h2{
                    color: white;
                    font-size: small;
                    font-weight: 300;
                }

                #love{
                    width: 280px;
                    margin-left: 50px;
                    margin-top: 20px;
                    display: block;
                    border-radius: 15px;
                    border: 5px solid rgb(68, 23, 230);
                }
            }


        }
            #post{
                color: white;
            }

            h3{

                color: white;
                font-weight: 100;
        
            }

            #for-line{
                background-color: rgb(20, 31, 48);
            h4{
                color: white;
                font-weight: 100;

            }
            }
    }
}


#largeB {
margin-top: 50px;
width: 100%;
height: 500px;
background-image: url(./../../images/commu7.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.ph2{
    margin-top: 50px;
    display: flex;
    gap: 30px;

    width: 100%;
    height: 400px;

    #ph1{
        width: 50%;
        background-image: url(./../../images/commu5.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
    }

        #ph2{
            width: 50%;
        background-image: url(./../../images/commu4.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
    }
}

#largeBS {
margin-top: 50px;
width: 100%;
height: 500px;
background-image: url(./../../images/commu8.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

    #ph3{
        width: 33%;
        background-image: url(./../../images/commu3.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
    }

        #ph4{
        width: 33%;
        background-image: url(./../../images/commu6.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
    }
        #ph5{
        width: 33%;
        background-image: url(./../../images/commu2.PNG);
background-repeat: no-repeat;
background-position: center;
background-size: contain;

    }

    #p{
        color: whitesmoke;

        margin-top: 40px;
        margin-left: 500px;
        margin-bottom: 30px;
    }


    footer {
    width: 100%;
    height: 300px;
    background-color: rgb(24, 24, 24);
    margin-top: 50px;
    padding-top: 63px;
    box-sizing: border-box;
    display: flex;
}

#row1 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#row1 > h1 {
    width: 155px;
height: 30px;
font-family: Helvetica;
font-weight: 700;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

#row1 > h2 {
width: 295px;
height: 80px;
font-family: Helvetica;
font-weight: 700;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #99999A;
}



#row2 {
    display: flex;
    flex-direction: column;
    margin-left: 192px;
    gap: 9px;
}

#row2 > h1 {
    width: 108px;
height: 24px;
font-family: Helvetica;
font-weight: 400;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 23px;
}

#row2 > p,a {
font-family: Helvetica;
font-weight: 400;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #5863E3;
text-decoration: none;
}



#row3 {
    display: flex;
    flex-direction: column;
    margin-left: 86px;
    gap: 9px;
}

#row3 > h1 {
width: 69px;
height: 24px;
font-family: Helvetica;
font-weight: 400;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 23px;
}

#row3 > p {
font-family: Helvetica;
font-weight: 400;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #5863E3;
}



#row4 {
    display: flex;
    flex-direction: column;
    margin-left: 86px;
    gap: 19px;
}

#row4 > h1 {
width: 114px;
height: 24px;
font-family: Helvetica;
font-weight: 400;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 13px;
}

#line1 {
    display: flex;
    gap: 12px;
    align-items: center;

}

#line1 > img {
    width: 21px;
height: 15px;
}

#line1 > span {
    width: 139px;
height: 19px;
font-family: Helvetica;
font-weight: 400;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

#line2 {
    display: flex;
    gap: 14px;
    align-items: center;

}

#line2 > img {
    width: 27px;
height: 22px;
}

#line2 > span {
    width: 144px;
height: 19px;
font-family: Helvetica;
font-weight: 400;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

#line3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

#line3 > img {
    width: 13px;
height: 22px;
}

#line3 > span {
width: 213px;
height: 19px;
font-family: Helvetica;
font-weight: 400;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

#tbc{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 360px;
}